@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Montserrat:wght@100&family=Oswald&family=Trirong:ital,wght@0,300;1,200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Oswald&family=Trirong:ital,wght@0,300;1,200&display=swap');
:root{
    --fuente: 'Montserrat', sans-serif;
    --allerta: 'Allerta', sans-serif;
}

/* #loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #3498db;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}
*/


.scant {
  --icon-count: 3;
  --inner-height: 4em;
  --ratio: 2/3;
 /* Customizable */
  --period: 1s;
 /* Customizable */
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--inner-height);
  width: calc(var(--inner-height) * var(--ratio) * var(--icon-count));
}

.scant .icon {
  width: calc(100% / var(--icon-count));
  height: calc(100% * var(--ratio));
  animation: loader-bounce02 var(--period) infinite linear;
  color:white;
}

/*
 * animation delay = (n - 1) / steps * period
 */

.scant .icon:nth-of-type(2) {
  animation-delay: calc(1 / 5 * var(--period));
}

.scant .icon:nth-of-type(3) {
  animation-delay: calc(2 / 5 * var(--period));
}
@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

@keyframes loader-bounce02 {
  20% {
    /* Raise */
    transform: translateY(calc(-50% * (1 - var(--ratio))));
  }

  40% {
    /* Lower */
    transform: translateY(calc(50% * (1 - var(--ratio))));
  }

  60% {
    /* Keep centered */
    transform: translateY(0);
  }

  80% {
    /* Keep centered */
    transform: translateY(0);
  }
}

.loader {
  background: #273b47;
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  top: 0;
  left: 0;

  z-index: 100000;
  opacity: 1;
  transition: opacity linear;
}

.loader2 {
  transition: .5s;
  opacity: 0;
  visibility: hidden;
}

#myDiv{
  text-align: left;
 
/*   font-family: 'Allerta', sans-serif;*/
}

.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s

}
